* {
    font-family: 'poppins';
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #f6f0ed;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
}

/*Navbar Start*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #5F3C25;
    color: white;
    padding: 10px 10px;
    width: 100%;
    position: relative;
}

nav img{
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
}

nav span {
    color: #fff;
    cursor: pointer;
}

.user img{
    margin-left: 10px;
}


.submenu-wrap{
    position: absolute;
    top: 100%;
    right: 1px;
    width: 180px;
    max-height: 0px;
    overflow: hidden;
    transition: filter 0.2s ease;
    transition: max-height 0.5;
}

.submenu-wrap:hover{
    filter:brightness(0.8)
}

.submenu-wrap.open-menu{
    max-height: 400px;
}

.submenu {
    background: white;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}

.submenu-link {
    display: flex;
    align-items: center;
    color: #5a321d;
    margin: 1px 0;
    text-decoration: none;
}

.submenu-link p {
    width: 100%;
    margin: 10px;
    text-align: left;
    cursor: pointer;
}

.submenu-link span {
    width: 40px;
    padding: 8px;
    color: #5a321d;
}

/*Navbar End*/

/*topside Start*/

topside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 30px;
    background: #fff;
    border-bottom: 1px solid #ccc;
}

.new_but {
    text-decoration: none;
    background: #5F3C25;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    transition: filter 0.2s ease;
}

.new_but:hover{
    filter: brightness(0.85);
}

.search {
    display: flex;          
    align-items: center;
    border: 1px solid #5F3C25;
    border-radius: 8px;
    overflow: hidden;               
}

.search input {
    flex: 5;                
    padding: 8px 20px;
    border-radius: 8px;
    border: none;     
    outline: none;
}

.search button {
    padding: 7px 10px;
    border: none;
    background-color: #5F3C25;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: filter 0.2s ease;
}

.search button:hover{
    filter: brightness(0.85);
}
/*topside End*/

/*Main Start*/

main {
    display: flex;
    align-items: flex-start;
    background: #f6f0ed;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    gap: 20px;
}

.column {
    background: #fff;
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
}

.column h2 {
    color: #5F3C25;
    margin-bottom: 5px;
}

.card {
    background: #f6f0ed;
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
    cursor: move;
    transition: filter 0.2s ease;
}

.card.dragging {
    opacity: 0.8;
}

.card:hover {
    filter: brightness(0.85);
}

.card a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 1px 1px;
    width: 100%;
    color: black;
}



   

.card-header img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    right: 100%;

}

.name {
    font-weight: 600;
}

.tags {
    margin-top: 8px;
    margin-bottom: 8px;
}

.tag {
    display: inline-block;
    padding: 2px 8px;
    border-radius: 6px;
    color: white;
    font-size: 12px;
    margin-right: 5px;
}

.tag.cold { background: #3498db; }
.tag.hot { background: #e74c3c; }
.tag.makanan { background: #5F3C25; }

.Kategori {
    color: #5F3C25;
}

/*Main End*/