nav {
    margin: 0;
    background: black;
    display: flex;
    align-items: center;
    grid-template-columns: 1fr auto 1fr;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    font-family: 'Times New Roman', Times, serif;
}

.logo {
    border-radius: 50%;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
}

ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    transition: filter 0.2s ease;
}

ul li:hover {
    filter: brightness(0.85);
}

.user {
    gap: 10px;
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
}

.user img{
    border-radius: 50%;
    display: flex;
}


